extends ../layout

block content
  h1 Something went wrong :(
  p SITE uses a variety of methods to ensure the environment is as clean as possible for users. Chances are you entered a name that doesn't exist in the League of Legends database. Return to the post scrim page and make sure you entered the correct details!