extends ../layout

block content
  .page-header
    h1 Scrims
  .scrim-challenges
    each team in teams
      .row
        .col-sm-8
          h3= team.teamname
          p='Posted at: ' + moment(team.created_at).format("hh:mm A")
          if team.region == 'na'
            p North America
          else if team.region == 'euw'
            p Europe West
          else if team.region == 'eune'
            p Europe Nordic and East
        .col-sm-4(style='margin-top: 20px;')
        a(class='btn btn-default',id='challenge-btn', href='/scrim/' + team.id) Challenge



