extends ../layout

block content
  - var teamname = team.teamname
  - var teamcap = team.teamcaptain
  - var region = team.region

  .page-header
    h1 Challenge Team
  .scrim-show
    .alert.alert-info(role='alert', style='text-align: center;')
      | Accepting a scrim is easy, just add the Team's Captain and wait for them to accept!
    .row(style='text-align: center;')
      .col-md-4
        h3 Team Name
        h1 #{teamname}
      .col-md-4
        h3 Team Captain
        h1 #{teamcap}
      .col-md-4
        h3 Region
        if region == 'na'
          h1 North America
        else if region == 'euw'
          h1 Europe West
        else if region == 'eune'
          h1 Europe Nordic and East