extends ../layout

block content
  - var teamname = team.teamname
  - var teamcap = team.teamcaptain
  - var region = team.region

  .page-header
    h1 Challenge Team
  .scrim-show
    .alert.alert-info(role='alert', style='text-align: center;')
      | Accepting a scrim is easy, just message the Team's Captain and wait for a response!
    h4 Team Name: #{teamname}
    h4 Team Captain: #{teamcap}
    if region == 'na'
      h4 Region: North America
    else if region == 'euw'
      h4 Region: Europe West
    else if region == 'eune'
      h4 Region: Europe Nordic and East
