// Variables

$primary-color: #000000;
$accent-color: #FF5722;
$accent-color-dark: #D84315;
$text-color: #000000;
$text-color-light: #FFFFFF;
$bg-color: #ffffff;

$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Roboto', sans-serif;


// Main
body {
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
  color: $text-color;
}

.page-header {

  h1 {
    color: $accent-color;
  }
}

.btn-default {
  background-color: $accent-color;
  background-image: none;
  color: $text-color-light;
  border-color: transparent;

  &:hover {
    background-color: $accent-color-dark;
    background-image: none;
    color: $text-color-light;
    border-color: transparent;
  }
}

#scrim-post-btn {
  margin-top: 30px;
  box-shadow: -1px 1px 1px 0px rgba(84, 84, 84, 0.60);
}

#challenge-btn {
  margin-left: 13px;
  box-shadow: -1px 1px 1px 0px rgba(84, 84, 84, 0.60);
}

#team-title {
  color: $accent-color;
}


// Navbar
.navbar-default {
  background-color: $primary-color;

  .navbar-brand {
    color: $accent-color;

    &:hover {
      color: $accent-color-dark;
    }
  }

  .navbar-nav > li > a {
    color: $text-color-light;
    font-family: $secondary-font;

    &:hover {
      color: $accent-color;
    }
  }
}

.navbar-default .navbar-nav
> .active > a {
  color: $accent-color;
}

// FAQ
.panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  color: $accent-color;
  border-color: transparent;
  background-color: $primary-color;
}

.panel-heading {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}


// Hacks
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $accent-color;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $accent-color;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: $accent-color-dark;
  color: #ffffff;
  background-image: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $accent-color;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
}


