extends ../layout

block content
  - var tourney = fullTournament
  
  .page-header
    h1 Upcoming Tournaments
  .tournament-show
    .tournament-panel
      h3 Tournament Title
      p Info on the tournament
      if fullTournament == true
        p Hide Button
      else if fullTournament == false
        p Show Button
      a(class='btn btn-default', id='register-post-btn', href='/tournament-register') Register